@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Outfit:wght@700&family=Poppins:wght@300;400;500&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --cyan-blue: #212529;
}
body{
    font-family: var(--sm-font);
}

/* button */

.bg-primary{
    background-color: var(--pink) !important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgba(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgba(85, 85, 85);
}

.btn:not(.nav-btns button):hover{
    background-color: var(--pink);
    color: #fff;
    border: 1px solid var(--pink);
}

/* text color  */

.text-primary{
    color: var(--pink) !important;
}

/* navbar  */

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}


.navbar-brand img {
    width: 150px; /* Adjust the logo size */
}

.nav-link:hover{
    color: var(--pink) !important;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.carousel-item h1, .carousel-item h2{
    color: var(--cyan-blue) !important;
}



/* header  */
#header{
    background: url(../images/banner/banner-img-1.jpg) top/cover no-repeat;
    padding-top: 104px;
}

.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}

.carousel-item .btn{
    border-color: #fff !important;
}

.carousel-item .btn:hover{
    background-color: var(--pink) !important;
}

/* title */

.title h2::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 50px;
    background-color: var(--pink);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

/* collection */

.active-filter-btn{
    background-color: var(--pink) !important;
    color: #fff !important;
    border-color: var(--pink) !important;
}
.filter-button-group .btn:hover{
    color: #fff !important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

/* special  */

.special-img img{
   transition: all 0.3s ease;
}
.special-img:hover img{
    transform: scale(1.2);
    cursor: pointer;
}
.special-img span{
    top: 20px;
    right: 20px;
}

.special-list .btn{
    padding: 8px 20px !important;
}


/* offers  */

#offers{
    background: url(../images/product/offer_img.jpg) center/cover no-repeat;
}
#offers .row{
    min-height: 60vh;
}

.offers-content span{
    font-size: 28px;
}
.offers-content h2{
    font-size: 60px;
    font-family: var(--lg-font)
}
.offers-content .btn{
    border-color: transparent !important;
}

/* about us  */

#about{
    background-color: rgba(0, 0, 0, 0.05);
}

/* newsletter  */

#newsletter{
    background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p{
    max-width: 600px;
}
#newsletter .input-group{
    max-width: 500px;
}
#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#newsletter .btn{
    background-color: var(--pink);
    color: #fff;
    border-color: var(--pink);
}

#newsletter .btn:hover{
    background-color: var(--cyan-blue);
    border-color:  var(--cyan-blue);
}

/* footer  */

footer-logo img{
    height: 40px;
    width: 257px;
}

footer a{
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink) !important;
}


/* media queries  */

@media(min-width: 992px){
    .nav-item{
        border-bottom: none;
    }
}
@media(min-width: 768px){
    .navbar-brand img {
        height: 30px;
        width: 200px;
    }
}